@using Gear.Models
@using GearCMS.Models.PageModels
@model HomePageModel

<body>
	<h1>@Model.TestTitle</h1>
	<p>TestValue:@Model.TestValue</p>
	<p>AnotherTestValue:@Model.AnotherTestValue</p>
</body>


