<html ng-app="gearCMS">
<head>
	<script src="/gearCMS/resources/scripts/angular.js"></script>
	<script src="/gearCMS/resources/scripts/main.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
