<html ng-app="gearCMS">
<head>
	<script src="/gearCMS/resources/scripts/angular.js"></script>
	<script src="/gearCMS/resources/scripts/main.js"></script>
	<link rel="stylesheet" href="/gearCMS/resources/styles/style.css" />
	<link rel="stylesheet" href="/gearCMS/resources/styles/normalize.css" />

</head>
<body>
	@RenderBody()
</body>
</html>
